html, body, #__next {
  height: 100%;
}

* { box-sizing: border-box; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --app-background: #ffffff;
  --app-foreground: #111827; 
}

html, body {
  background: var(--app-background) !important;
  color: var(--app-foreground) !important;
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
}
